{% extends 'home.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/feed.css' %}">
<link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock %}

{% block content %}
<div class="Container">
    <div class="divFormat">
        <a style="width: 5%;" href="{% url 'home' %}">
        <img class="back"
            src="https://cdn.discordapp.com/attachments/443897310930534422/1111823092357005312/back_button.png"
            alt="back" />
        </a>
        <h1 class="feed">FEED</h1>
    </div>
    <hr class="line" />

    <!-- Post do usuário logado -->
    {% if form %}
    <div class="divFormat">
        <a href="{% url 'profile' user.profile.id %}">
            <img class="icon" src="{{ user.profile.avatar.url }}" alt="Icon" />
        </a>

        <form class="postFormContainer" enctype="multipart/form-data" method="POST">
            
            {% csrf_token %}
            {{ form.as_p }}
        
            <button class="sendButton" type="submit"/>
        </form>
    </div>
    {% endif %}

    <!-- Posts dos usuários -->
    <div class="feedContainer">
        {% for post in posts %}
        <div class="postContainer">
            <div class="authorIcon">
                <a href="{% url 'profile' post.user.id %}">
                    <img src="{{ post.user.avatar.url }}" alt="user icon" />
                </a>
            </div>
            <h2 class="postAuthor">{{ post.user.nick }}</h2>
            <p class="postContent">{{ post.body }}</p>
            <form class="Comment" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="post_father" value="{{ post.id }}">
                <!--<input type="text" class="Comment" placeholder=" Comment" />-->
            </form>
            
            {% if user in post.likes.all%}
            <a href="{% url 'like-post' post.id %}">
                <i class="LikeBtn Liked" role="img" aria-label="heart">❤</i>
            </a>
            {% else %}
            <a href="{% url 'like-post' post.id %}">
                <i class="LikeBtn" role="img" aria-label="heart">❤</i>
            </a>
            {% endif %}

            <!--<button class="`${LikeBtn} ${liked ? Liked : '' }`" onClick="handleLike">
                <span class="Heart" role="img" aria-label="heart">❤</span>
            </button>-->

            <p class="LikeCounter">{{ post.get_likes }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
