{% extends 'feed.html' %}

{% load static %}

{% block content %}

{% if user.is_authenticated and user.profile == post.user and not post.deleted and not post.filed %}
<div class="containerFeed">
    <div class="columnLe"></div>

    <div class="collumnMid">
        <h1>Updated it!</h1>

        <div class="divBorder">
            <div href="{% url 'post' post.id %}">
                <div class="postHead">
                    <div class="postPfp">
                        <a href="{% url 'profile' post.user.id %}">
                            <img src="{{ post.user.avatar.url }}" />
                        </a>
                    </div>
                    <div class="userName">
                        <a class="userName" href="{% url 'profile' post.user.id %}">
                            <b>{{ post.user.nick }}</b>
                        </a>
                    </div>
                    {% if post.user == user.profile %}
                    <div style="margin-left: auto;" class="archiveBtn">
                        <a style="width: 20px;" href="{% url 'file-post' post.id %}">
                            <button>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                                </svg>
                            </button>
                        </a>
                    </div>
                    <div class="trashBtn">
                        <a style="width: 20px;" href="{% url 'delete-post' post.id %}">
                            <button>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                </svg>
                            </button>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="postBody">
                <div class="postContent">
                    <div class="postInput">
                        <form style="width: 85%;" enctype="multipart/form-data" method="POST">
                    
                            {% csrf_token %}
                            {{ form.as_p }}
                    
                            <div class="postBtn">
                                <input class="submit" type="submit" name="submit" value="Post" />
                            </div>
                        </form>
                        <!--<textarea name='text' rows="2" cols="10" placeholder='Post something!' />-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="columnRi"></div>
</div>

{% else %}
<h3>SAIA</h3>
<h3>SAIA ENQUANTO PODE</h3>
<h3>SAIA</h3>
<h3>SAIA</h3>
<h3>SAIA</h3>
<h3>SAIA</h3>
<h3>SAIA</h3>
{% endif%}

{% endblock %}
