@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@300;400&display=swap');

body {
  background: #C3C3C3;
  font-family: "Sofia Sans Semi Condensed", 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

a {
  color: #2F363B;
  text-decoration: none;
}
/* CSS da home*/
.main {
  padding: 0 20px;
  padding-top: 10px;
  margin: 10px 100px;
  font-size: 20px;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #05131d;
    color: #B7B0A7;
    font-family: "Sofia Sans Semi Condensed";
  }
  
  a {
    color: #B7B0A7;
    text-decoration: none;
  }
}
/*Css dos cards*/
.card {
  background-color: transparent;
  
  width: 200px;
  height: 300px;
  padding-right: 6px;

  overflow: hidden;
}

.card:hover{
  cursor: pointer;
}
.card:hover img{
  box-shadow: 2px 2px 6px 2px rgba(200, 200, 200, 0.2);
}
.card:hover a{
  color:rgb(148, 110, 184);
}

.card img {
  width: 100%;
  height: 86.3%;
  border-radius: 6px;

  object-fit: cover;
}
.card div {
  position: relative;
  bottom: 0;
}

.categoryLabel{
  font-size: 25px;
}
.cardsDisplay{
  margin-left: -31.5px;
  margin-top: -15px;
}
.cardsDisplay a{
  margin-left: -17px;
}
.cardsDisplay .card p {
  display: block; 
}

.cardsSearch{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  
  grid-gap: 10px;
  grid-row-gap: 20px;
  padding-top: 5px;

  height: inherit;
  
}