{% extends 'home.html' %}

{% load static %}
 
{% block content %}
<div class="gamePage">
    <div class="gameInfo">
        <div class="card">
            <a href="{% url 'game' game.id %}">
                <img src="{{ game.image }}" alt="Game Image" />
            </a>
            <div>
                <a>{{ game.name }}</a>
            </div>              
        </div>
      <!--Quando clica nesse botão é pra adicionar o jogo na lista do usuário-->
    <!-- </div> -->
  
    <!-- <div class="middleContainer"> -->
      <h1 class="gameTitle">{{ game.name }}</h1>
  
      <div class="divRating">
        <div class="metaScore">
          <button class="metaBtn greenBtn" id="metaBtn">{{ game.metacritic_score }}</button>
          <p><b>Metascore</b></p>
        </div>
        <div class="userScore">
          <div class="userValue">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
              <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
            </svg>
            {% if game.user_score %}
                <a>{{ game.user_score }}</a>
            {% else %}
                <a>00.0</a>
            {% endif %}
          </div>
          <a><b>User score</b></a>
        </div>
      </div>
      
      <div class="divInfo">
        <div class="genres">
          <b>Genre(s):</b> Ação FPS RPG...
        </div>
        <div class="publisher">
          <b>Publisher: {{ game.publisher }}</b>
        </div>
        <div class="launchDate">
          <b>Launch date:</b> {{ game.release_date }}
        </div>
        <div class="platforms">
          <b>Platform:</b> {{ game.plataform }}.
          {% if game.plataforms %}
            <b>Platforms:</b>
            {% for plataform in game.plataforms.all %}
                {{ plataform }}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    <!-- </div> -->
  
    <!-- <div class="rightContainer"> -->
      <b>Summary: {{ game.sumary }}</b> 
    </div>
    <br>
    <hr>
    <div class="reviews">
    {% if form %}
    
        <h3>{{ game.name }}'s Reviews</h3>
        

    {% endif %}

            {% for review in reviews %}
                <br>
                {{ review }}
                <br>
                {{ review.review }}

            {% endfor %}
        </div>
    </div>
{% endblock %}
