{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        {% block css %}
        {% endblock %}
    </head>
    <body>
        <nav class="divNav">
            <div class="divHeader">
              <div class="divLogo">
                <a href="/">
                  <h1>
                    <img src="logo.png" width="310" height="45.8" />
                  </h1>
                </a>
              </div>
              <div class="search">
                <div class="searchBar">
                  <div class="searchIcon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-search"
                      viewBox="0 0 16 16"
                    >
                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                  </div>
                  <input type="text" placeholder="Search Games" />
                </div>
                <div class="searchResult"></div>
              </div>
              <div class="divProfile">
                <div class="dropdown">
                  <img
                    src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png"
                    onclick="toggleDropdown()"
                    class="dropdownTrigger"
                  />
                  <ul class="dropdownMenu" id="dropdownMenu" style="display: none;">
                    <li onclick="handleItemClick('/profile')">Profile</li>
                    <li onclick="handleItemClick('/feed')">Feed</li>
                    <li>LogOut</li>
                  </ul>
                </div>
              </div>
            </div>
        </nav>
    </body>