{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/gamecard.css' %}">
    {% block css %}
    {% endblock %}
</head>

<body>
    <nav>
        <div>
            <div>
                <h1>
                    <a href="{% url 'home' %}"><img src="/static/img/logo.png" width="310" height="45.8"
                            alt="Logo" /></a>
                </h1>
            </div>
            <div>
                <form method=POST action="{% url 'search' %}">
                    {% csrf_token %}
                    <input type="text" placeholder="Search Games" name="searched" />
                    <button>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </div>
                    </button>
                </form>
            </div>
            <div>
                {% if user.is_authenticated %}
                <div class="dropdown">

                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{ user.profile.avatar.url }}" width="30" height="30" alt="logo"
                            style="border-radius: 30px;">
                        {{ user.profile.nick }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'profile' user.profile.id %}">
                            <i class="fa-solid fa-user"></i>
                            Profile
                        </a>
                        <a class="dropdown-item" href="{% url 'feed' %}">
                            <i class="fa-solid fa-comments"></i>
                            Feed
                        </a>
                        <a class="dropdown-item" href="{% url 'logout' %}">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            Logout
                        </a>
                    </div>
                </div>
                {% else %}
                <div>
                    <a href="{% url 'login' %}">
                        <button id="login-btn">
                            <i class="fa-solid fa-right-to-bracket"></i>
                            Login
                        </button>
                    </a>
                </div>
                <div>
                    <a href="{% url 'user-register' %}"><button id="signup-btn" class="singBtn">
                            <i class="fa-solid fa-user-plus"></i>
                            SignUp
                        </button>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
    {% block content %}
    {% for list, games in lists.items %}
    <div class="main">
        <!--Cada bloco desse é uma categoria, cada categoria deve conter 6 cards, aqui ta usando como exemplo a categoria popular-->
        <a class="categoryLabel">{{ list }}</a>
        <div class="cardsDisplay">
            {% for game in games %}
            <!--Cada bloco desse exibe um card-->
            <div class="card">
                <a href="{% url 'game' game.id %}">
                    <img src="{{ game.image }}" />
                </a>
                <div><a>{{ game.name }}</a></div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/2d7013d6fa.js" crossorigin="anonymous"></script>
</body>

</html>
