.formContainer,
  .loginForm,
  .registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loginForm button,
  .registerForm button {
    font-family: "Sofia Sans Semi Condensed", 'Courier New', Courier, monospace;
    color: #d8d5d5;
    background-color: #3d85c6;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    font-size: 15px;
  }

  .loginForm button:hover,
  .registerForm button:hover {
    text-shadow: 0 0 0px rgba(255, 255, 255, 0.8);
  }

  .linkBtn {
    background: none;
    border: none;
    color: #d8d5d5;
    text-decoration: underline;
    cursor: pointer;
  }

  .linkBtn:hover {
    text-shadow: 0 0 0px rgba(255, 255, 255, 0.8);
  }

  nav {
    width: 100%;
    height: 75px;
    background: #071c2b;
  }

  nav > div {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .searchBar {
    background-color: rgb(24, 47, 76);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 10px;
  }

  .search input {
    font-family: "Sofia Sans Semi Condensed", 'Courier New', Courier, monospace;
    background-color: transparent;
    color: #d8d5d5;
    border: none;
    outline: none;
    width: 100%;
    padding: 5px;
    padding-bottom: 2px;
    font-size: 15px;
  }

  .searchIcon {
    background-color: transparent;
    display: grid;
    place-items: center;
    padding-left: 0.5px;
    padding-right: 2.5px;
    padding-bottom: 2px;
    padding-top: 2px;
  }

  .divLogin {
    padding: 0 20px;
    gap: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .linkBtn {
    font-family: "Sofia Sans Semi Condensed", 'Courier New', Courier, monospace;
    color: #8195a3;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    font-size: 15px;
  }

  .singBtn {
    background-color: #3d85c6;
    color: #d8d5d5;
  }

  .linkBtn:hover {
    text-shadow: 0 0 0px rgba(255, 255, 255, 0.8);
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 7px;
  }

  .dropdownTrigger {
    cursor: pointer;
  }

  .dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    background: #071c2b;
    padding: 8px;
    list-style: none;
    border: 2px solid rgba(200, 200, 200, 0.2);
    border-radius: 5px;
    z-index: 1;
  }

  .dropdownMenu li:hover {
    text-shadow: 0 0 0px rgba(255, 255, 255, 0.8);
    cursor: pointer;
  }

  .dropdownMenuWithMargin {
    margin-top: 0px;
    margin-left: 0px;
    padding: 8px;
    
  }