.feed{
    position: absolute;
    font-size: 45px;
    left: 90px;
    top: 60px;
}

.line{
    position: absolute;
    width: 99%;
    left: 5px;
    top: 150px;
    height: 1px;
    background-color: #FFFFFF;
    margin: 10px 0;
}

.feedContainer{
    margin-top: 100px;
}

.back{
    position: absolute;
    top: 90px;
    left: 15px;
    width: 50px;
}

.Container{
    margin-top: 20px;
}

.icon{
    position: relative;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    top: 100px;
    left: 230px;
}

.UserPost{
    position: relative;
    border-radius: 10px;
    left: 370px;
    top: 10px;
    width: 910px;
    min-height: 20px;
    max-height: 300px;
    background-color: transparent;
    color: #FFFFFF;
    padding: 10px;
    resize: none; 
    overflow: hidden; 
}

.postFormContainer {
    margin-bottom: 20px;
}

.sendButton {
    position: absolute;
    background-image: url("https://cdn.discordapp.com/attachments/904053689747128401/1117267190924709935/image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    right: 420px;
    top: 235px;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.3s;
  }

  .sendButton:hover{
    transform: scale(1.2);
  }