.profileicon{
    box-sizing: border-box;

    position: relative;
    width: 197px;
    height: 195px;
    left: 387px;
    top: 181px;
    border: 3px solid #FFFFFF;
    border-radius: 511px;
}

.settings{
    position: absolute;
    width: 30px;
    height: 30px;
    top:50%;
    background-color:transparent;
    border-radius:10px; 
    padding:15px;
    right: 510px;
    top: 85px;
    background-color: #D9D9D9;
    opacity: 0.5;
    transition: 0.3s;
}

.settings:hover{
    opacity: 2;
}

.username{
    position: absolute;
    width: 512px;
    height: 66px;
    left: 622px;
    top: 330px;


    font-weight: 400;
    font-size: 36px;
    line-height: 44px;

    color: #000000;
}

.userdescription{
    position: absolute;
    width: 642px;
    height: 123px;
    left: 622px;
    top: 375px;
    text-align: justify;

    overflow: hidden;
    max-width: 600px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

    font-weight: 200;
    font-size: 22px;
    line-height: 29px;

    color: #000000;

}

.profilebackground{
    position: absolute;
    width: 1022px;
    height: 278px;
    left: 293px;
    top: 70px;
}

.fundo{
    position: absolute;
    width: 1024px;
    height: 1024px;
    left: 291px;
    top: 70px;

    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.top5games{
    display: flex;
    position: absolute;
    top: 610px;
    left: 350px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    flex-direction: row;
}

.title2{
    display: flex;
    position: absolute;
    top: 525px;
    left: 350px;
}